.App {
  text-align: center;
  font-family: 'Open Sans','Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  float: left;
}

.App-header {
  background-color: white;
  color: gray;
  height: 80px;
  padding: 5px;
  margin: 10px;
}

.App-avatar{
  height: 75px;
  width: 75px;
  margin: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
